name: Shared-Action-Call
on:
  push:
    branches:
      - main
      - dev/*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: local repo hello
        run:  "echo from local repo action!"

      - name: shared action hello
        uses: deeagle/action-lint-and-style@v0.1
